{% load i18n helpdesk_staff %}
{% load static %}

    <nav class="navbar navbar-expand navbar-dark bg-dark static-top">

      <a class="navbar-brand" href="{% url 'supportSystem:dashboard' %}"><img src="{% static 'images/mdesk_navbar.png' %}"></a>



      {% if user|is_helpdesk_staff %}
      <!-- Navbar Search -->
      <form class="d-none d-md-inline-block form-inline ml-auto mr-0 mr-md-3 my-2 my-md-0" id='searchform' method='get' action="{% url 'supportSystem:list' %}">
        <div class="input-group">
          <input type="text" class="form-control" name='q' size='15' placeholder='{% trans "Search" %}' id='search_query' title='{% trans "Enter keyword or ticket ID" %}' aria-label="Search" aria-describedby="basic-addon2">
          <input type='hidden' name='status' value='1' /><input type='hidden' name='status' value='2' /><input type='hidden' name='status' value='3' /><input type='hidden' name='search_type' value='header' />
          <div class="input-group-append">
            <button class="btn btn-primary" type="submit">
              <i class="fas fa-search"></i> {% trans 'Search' %}
            </button>
          </div>
        </div>
        {% csrf_token %}
      </form>
      {% endif %}
      <!-- Navbar -->
      <ul class="navbar-nav mr-md-0">
      {% if  user|is_helpdesk_staff %}

          <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {% trans "Language" %}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% get_current_language as LANGUAGE_CODE %}
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}

            {% for lang in languages %}
              <li>
              <a class="dropdown-item" href="/{{ lang.code }}/">
                  {{ lang.name_local }}
              </a>
              </li>
            {% endfor %}
          </ul>
        </li>

        <li class="nav-item dropdown no-arrow">
          <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-user-circle fa-fw"></i>
            {{ user.get_full_name|default:user.get_username }}
            <i class="fas fa-caret-down fa-fw"></i>
          </a>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="userDropdown">
            <a class="dropdown-item" href="{% url 'supportSystem:signout' %}"><i class="fas fa-fw fa-sign-out-alt"></i> {% trans "Sign out" %}</a>
          </div>
        </li>
      {% else %}

        {% if not request.path == '/supportSystem/login/' or user.is_authenticated %}
            <li class="nav-item dropdown no-arrow">
              {% if user.is_authenticated %}
                <a class="nav-link dropdown-toggle" href="{% url 'supportSystem:signout' %}" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-sign-out-alt"></i> {% trans "Sign out" %}</a>
              {% else %}
                <a class="nav-link dropdown-toggle" href="{% url 'supportSystem:signin' %}?next={% if next %}{{ next|escape }}{% else %}{% url 'supportSystem:home' %}{% endif %}" id="userDropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fw fa-sign-in-alt"></i> {% trans "Prisijungti" %}</a>
              {% endif %}
            </li>
        {% endif %}
      {% endif %}
      </ul>

    </nav>
