
#logo {
}

.card-link {
  color: white;
}
body {
    background-color: #ebeff5;
}


#ticket-30 {
    background-color: #4cb4c7;
}


#ticket-3060 {
    background-color: #7abecc;
}

#ticket-60 {
    background-color: #7CD1C0;
}
